/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr.css';


html,body{
  font-family: 'Lato', sans-serif !important;
}

/* Color Style */
.bg-1{
  background-color: #414f62;
  }
.bg-2{
    opacity: 0.96;
    background-color: #ffffff;
}

